/* This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/. */
header {color:#777;display:flex}
header #title {flex:0 1 10em}
header nav {flex:1 5;display:inline-flex;justify-content:space-between;flex-flow:row wrap}
header a {color:inherit;text-decoration:none}
header a:hover {color:black}
#status, #stats {flex:100%;margin:.3em 1em}
ul.stat {list-style:none;display:flex;padding:0;margin:0}
ul.stat li {margin:.2em .5em}
#start-game {margin:1em;padding:.5em;border-radius:.5em;border:.2em solid #0a0;background:#0c0;color:white}
#start-game::after {content:' \23f5';color:#ccc}

main {display:flex;flex-flow:row wrap}
#open-games, #waiting-games, #closed-games {flex:1;margin:.3em}

section >h1 {color:#777}
section >:not(h1) {margin:1em;padding:1em;background:#eee}

#open-games >ul, #waiting-games >ul, #closed-games >ul {list-style:none;display:flex;flex-flow:column nowrap}
.game {display:flex;align-items:flex-end;padding:1em .3em;flex-flow:row wrap}
.game .player {flex:1 0 5em}
.game .player::after {content:': '}
#closed-games .game .player::before {content:'gegen '}
a.game {cursor:pointer;/*transition:all .3s;*/text-decoration:none;color:black;background:transparent}
a.game:hover {background:#333;color:white}

.game .game-points {flex:1 3em}

.game-report {display:flex;list-style-type:none;flex:5 0 8em;margin:0;padding:0;height:1em;flex-flow:row nowrap;border-radius:.3em;border:thin solid black}
.game-report li {display:block;flex:1;height:1em;border:0}
.game-report li.gg {background:linear-gradient(to bottom, #0c0,#0c0 50%,#7c7 50%,#7c7)}
.game-report li.bb {background:linear-gradient(to bottom, #c00,#c00 50%,#c77 50%,#c77)}
.game-report li.gb {background:linear-gradient(to bottom, #0c0,#0c0 50%,#c77 50%,#c77)}
.game-report li.bg {background:linear-gradient(to bottom, #c00,#c00 50%,#7c7 50%,#7c7)}
.game-report li.-b {background:linear-gradient(to bottom, transparent,transparent 50%,#c77 50%,#c77)}
.game-report li.-g {background:linear-gradient(to bottom, transparent,transparent 50%,#7c7 50%,#7c7)}
.game-report li.g- {background:linear-gradient(to bottom, #0c0,#0c0 50%,transparent 50%,transparent)}
.game-report li.b- {background:linear-gradient(to bottom, #c00,#c00 50%,transparent 50%,transparent)}

.winning, .win {color:#0c0}
.tied, .tie {color: #777}
.losing, .loss {color: #c00}

.figure {font-weight:bold}

progress {border:thin solid black;border-radius:.3em}

table th {padding: .3em}
